.exercise-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: space-evenly;
}

.exerc-container {
  display: flex;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  button.btn-new {
    font-weight: 200;
    font-size: 13px;
  }
}
